.item
  background-color: #fff
  margin-bottom: 1px
  padding: 0px 0px 0px 5px
  cursor: pointer
  font-size: 11px
  color: #999
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.item:hover
  background: #fafafa

.item-title
  margin-left: 5px

.item-count
  margin: 0px

.item.selected
  color: #000

.popover
  max-width:500px
  width:500px
