.container-fluid
  .row
    uib-tabset(ng-class="state=='filter' ? 'col-xs-12' : (state=='visualization' ? 'col-xs-4': 'col-xs-8')")
      uib-tab(ng-repeat="query in queries",active="query.active")
        uib-tab-heading
          span(ng-show="!editingName",ng-click="query.active && (editingName=true)") {{query.name}}
          input(ng-show="editingName",ng-model="newName",ng-init="newName=query.name",ng-blur="renameQuery(query,newName)",ng-keyup="($event.keyCode == 13 && (renameQuery(query,newName) || true) && (editingName=false)) || ($event.keyCode == 27 && (editingName=false))")
          span.glyphicon.glyphicon-remove(ng-show="query.active",ng-click="removeQuery(query)")
        .container-fluid: .row
          div(ng-class="state=='filter' ? 'col-xs-2' : (state=='visualization' ? 'col-xs-12' : 'col-xs-3')")
            h4 Constrain
            text-search-view(view-id="text-search-view",query-id="query.name")
            multi-tree-views(view-id="property-tree-views",query-id="query.name")
          div(ng-class="state=='filter' ? 'col-xs-10' : 'col-xs-9'",ng-show="state!='visualization'")
            h4 Filter
              button.btn.btn-sm.btn-default(ng-click="$parent.$parent.$parent.state= $parent.$parent.$parent.state=='filter' ? 'normal' : 'filter'")
                span.glyphicon.glyphicon-resize-horizontal
            result-list-view(width="state=='filter' ? 60 : 40",show-metadata="state=='filter'",view-id="result-list-view",query-id="query.name")
      uib-tab(select="addQuery()")
        uib-tab-heading
          span.glyphicon.glyphicon-plus
    div(ng-class="state=='visualization' ? 'col-xs-8' : 'col-xs-4'",ng-show="state!='filter'")
      h4 View
        button.btn.btn-sm.btn-default(ng-click="state= state=='visualization' ? 'normal' : 'visualization';resize()")
          span.glyphicon.glyphicon-resize-horizontal
      multi-google-chart-views(view-id='google-chart-view',queries="queries")
        
