select.form-control(ng-model="selectedGrouping",ng-options="availableGrouping.label for availableGrouping in availableGroupings")
  option(value="") total
#chartWrapper
button(ng-click="openEditor()") Edit
