div(ng-repeat="view in views")
  label {{view.label}}
  tree-view(view-id="viewId",query-id="queryId",view-configuration="view.viewConfiguration")
.form-group
  select(ng-model="newView",ng-options="availableView.label for availableView in availableViews")
    option
