google-chart-view(ng-repeat="chart in charts",chart-definition="chart")
.form-horizontal
  .form-group 
    label Partition:
    select.form-control(ng-model="selectedGrouping",ng-options="availableGrouping.label for availableGrouping in availableGroupings")
      option(value="") total
  .form-group
    label Sample length (years):
    input.form-control(type="text",ng-model="movingSpan")
  .form-group
    label Graph type:
    .btn-group
      label.btn.btn-sm.btn-success(ng-model="graphType", uib-btn-radio="'individual'") individual
      label.btn.btn-sm.btn-success(ng-model="graphType", uib-btn-radio="'areacomparison'",ng-disabled="queries.length < 2") compare as area
      label.btn.btn-sm.btn-success(ng-model="graphType", uib-btn-radio="'scattercomparison'",ng-disabled="queries.length !== 2") compare as scatterplot
.form-inline(ng-show="graphType == 'individual'")
  .checkbox
    label 
      input(type="checkbox",ng-model="hideTotals",ng-disabled="accumulation")
    | &nbsp;Hide totals
  .checkbox
    label 
      input(type="checkbox",ng-model="accumulation")
    | &nbsp;Show as accumulation chart
  .checkbox(ng-show="selectedGrouping!=''")
    label 
      input(type="checkbox",ng-model="separateGroups")
    | &nbsp;Partitions as charts
.form-horizontal  
  .form-group
    label Calculate values as:
    .btn-group
      label.btn.btn-sm.btn-primary(ng-model="avgType", uib-btn-radio="'total'") total
      label.btn.btn-sm.btn-primary(ng-model="avgType", uib-btn-radio="'text'") text average
      label.btn.btn-sm.btn-primary(ng-model="avgType", uib-btn-radio="'author'") author average
    
