script(type="text/ng-template",id="popover.html")
  .small {{result.fulltext}}
input.form-control(ng-model="regex")
table(infinite-scroll="scrollInstances()",infinite-scroll-parent,infinite-scroll-distance="5")
  tr.item(ng-repeat="result in results",ng-click="filter(result)",ng-style="result.filtered ? {'text-decoration': 'line-through'} : {}",popover-template="'popover.html'",popover-trigger="mouseenter",popover-title="{{result.label}}",popover-placement="bottom")
    td(ng-if="result.snippet").text-right.text-overflow {{result.snippet.before}}
    th(ng-if="result.snippet").text-center.text-overflow &nbsp;{{result.snippet.match}}&nbsp;
    td(ng-if="result.snippet").text-left.text-overflow {{result.snippet.after}}
    td(ng-if="!result.snippet",colspan="3") {{result.label}}
