script(type="text/ng-template",id="treenode.html")
  span {{node.label}}
  span.pull-right {{node.matchingInstances}}/{{node.instances}}
  ul
    li.item(ng-repeat="node in node.children",ng-include="'treenode.html'")
ul.list-unstyled
  li.item(ng-repeat="node in tree",ng-include="'treenode.html'")
